/* Тут пиши основные стили */

nav img{
    width: 97px;
    margin: 10px auto 10px 38px;
}

menu{
    padding: 0;
    margin: 0;
    background-color: #faf9f8;
    border-bottom: 1px #000000 solid;
    border-top: 1px #000000 solid;
}
menu ul{
    padding: 0px;
    margin-left: 8px;
    list-style: none;
}
menu li{
    cursor: url("responsive-design/2744EFD6-B878-4DCB-B0D5-526F1B233733/9E1721B2-E123-44D1-BBA7-88E713A6A184@0.5x.png"), auto;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size:24px;
    color:#333333;
    text-align:left;
    line-height:36px;
    margin-left: 30px;
    display: inline;
}

.red{
    color:#d0021b;
}

h1, h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 42px;
    line-height: 44px;
    margin: 55px 0 10px;
}

h2 {
    font-size: 34px;
    line-height: 39px;
}

p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    line-height: 33px;
    margin: 0;
}

img {
    width: 100%;
    margin: 43px 0 37px;
}

code {
    font-family: "Courier New", monospace;
    background-color: #f4f4f4;
    padding: 2px;
}

.block {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 95px;
}


@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}
