/* Тут пиши основные стили */
h1, h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 42px;
    line-height: 44px;
    margin: 55px 0 10px;
}

h2 {
    font-size: 34px;
    line-height: 39px;
}

p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    line-height: 33px;
    margin: 0;
}

img {
    width: 100%;
    margin: 43px 0 37px;
}

code {
    font-family: "Courier New", monospace;
    background-color: #f4f4f4;
    padding: 2px;
}

.block {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 95px;
}


@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}